body {
	margin: 0;
	padding: 0;
	background-color: #fbfbfa;
}

#main {
	display: grid;
	place-items: center;
	min-width: 100vw;
	min-height: 100vh;
}

#main #login {
	display: grid;
	grid-template-columns: auto auto;
}

#main.small #login .image {
	display: none;
}

#main #login form {
	text-align: center;
	border: 1px solid #dadadb;
	margin-bottom: 20px;
	background-color: #fff;
}

#main #login form input {
	padding: 10px;
	background-color: rgba(128, 128, 128, 0.1);
	border: 1px solid transparent;
	width: 85%;
	margin-bottom: 10px;
}

#main #login form input:focus {
	transition: 0.2s ease-in;
	outline: none;
	border: 1px solid #121212;
	background-color: #fff;
}

#main #login form #facebookBtn {
	font-size: 1em;
	background-color: #fff;
	color: #465992;
	cursor: pointer;
	border: 0px transparent;
	padding: 0px !important;
	width: 87%;
}
#main #login form #facebookBtn:hover {
	color: #1d253d;
}

#main #login form #facebookBtn img {
	margin: 0;
	padding: 0;
	width: 32px;
}

#main #login form button {
	background-color: #b2dffc;
	color: #fff;
	border: 0px transparent;
	border-radius: 5px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 91%;
}

#main #login form button:active {
	background-color: #b2dffc;
}

#main #login form button.active {
	background-color: #0194f6;
}

#main #login form button.active:hover {
	cursor: pointer;
	background-color: #159cf5;
}

#main #login .redirect-register {
	text-align: center;
	border: 1px solid #dadadb;
}

#main #login .apps {
	text-align: center;
}

#main #login img {
	margin-top: 30px;
}

.redirect {
	text-decoration: none;
	color: #01a1f9;
}

.divider {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.divider hr {
	border: 0px transparent;
	border-top: 1px solid black;
	width: 85%;
	margin-top: 12px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
	color: #8f8f8e;
	font-size: 12px;
}
footer a {
	color: #8f8f8e;
	margin-left: 5px;
	margin-right: 5px;
	text-decoration: none;
}
footer a:hover {
	color: #878787;
}
footer .copy :nth-child(1) {
	margin-right: 2.5px;
}
footer .copy :nth-child(2) {
	margin-left: 2.5px;
}
